
<div class="row">
<div class="col-9">
<app-movie-list></app-movie-list>
</div>
<div class="col-3">
    <div class="col - 2">
                
                
              
          <table class="table table-bordered">
             <thead>  
               <h4>ברוך הבא</h4> 
             </thead>
             <tr>
              <button type="button" class="btn btn-info" [routerLink]="['/addmovie']">הוסף סרט</button>

             </tr>

             <tr *ngFor="let item of collection | categoryspipe" >
               
          <button type="button" (click)="Dramaclick(item.category)" class="btn btn-light" >{{item.category}}</button>
        </tr>
        </table>
          
        </div>
</div>
</div>

